/* Power menu — overrides du thème Crépuscule rose */

@import "theme.rasi"

window {
    location:  northwest;
    anchor:    northwest;
    x-offset:  10px;
    y-offset:  10px;
    width:     220px;
}

mainbox {
    children: [ listview ];
}

element-icon {
    size: 1.4em;
}
